@font-face {
    font-family: Brownfox;
    src: url(../assets/fonts/Brownfox\ -\ Geometria\ Light.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Brownfox;
    src: url(../assets/fonts/Brownfox\ -\ Geometria\ Bold.otf);
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Brownfox;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: #91d40007;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}


a {
    text-decoration: none;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

/* 
.hide-element {
    display: none;
    z-index: -999;
} */

.accent {
    font-weight: bold;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: auto;
    top: 0px;
    bottom: auto;
    height: 80px;
    width: 101%;
    z-index: 10;
    border-style: none;
    border-width: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.navigation {
    position: relative;
    top: 9px;
}

.navbar-item {
    margin: 0 15px;
}


.navigation-link {
    margin: 0 5px;
}

a.navigation-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
}

a:hover.navigation-link {
    color: #FF5714;
}

a:active.navigation-link {
    position: relative;
    top: 3px;
}

.social-mobile {
    display: none;
}

.mobile-menu {
    display: none;
}

#slide {
    height: 101vh;
}

.about {
    position: relative;
    top: -9vh;
    min-height: 89vh;
    padding: 0 20px;
    padding-top: 11vh;
    z-index: 8;
}

.products {
    position: relative;
    top: -19vh;
    min-height: 60vh;
    padding: 0 20px;
    padding-top: 11vh;
    z-index: 7;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 15px;
    border-style: none;
    border-width: 0px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.logo-main {
    position: relative;
    top: 3px;
    width: 155px;
    z-index: 999;
}

.social {
    position: relative;
    top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-link {
    display: inline-flex;
    margin-left: 9px;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.social:last-child {
    margin-right: 25px;
}



.img-land {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.img-trade {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.img-product-apple {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-product {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.greed {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
    margin: 0;
}


.row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0;
}




.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 5px;
}

.row-trade {
    width: 50%;
}

.row-products {
    flex-wrap: wrap;
}


.land {
    width: 100%;
    border-radius: 15px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    border-style: none;
    border-width: 0px;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.5);
}

.img-container {
    width: 180px;
    height: 220px;
    padding: 5px 5px 5px 5px;
}

.description-product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 0 0 15px 15px;
}

.description {
    color: #fff;
    font-weight: bold;
}

.apple {
    background-color: #95d400;
}

.plum {
    background-color: #00b9e4;
}

.apricot {
    background-color: #FF5714;
}

.grape {
    background-color: #EB6FBD;
}

.apple-color {
    color: #95d400;
}

.plum-color {
    color: #00b9e4;
}

.apricot-color {
    color: #FF5714;
}

.grape-color {
    color: #EB6FBD;
}

.contacts-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 101vh;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.185);
    z-index: 6;
}

.greed-contacts {
    padding: 80px 0 0 0;
    align-items: flex-start;
}

.row-contacts {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 30px 0 80px 0;
}

.item-contacts {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
}

.p-contacts {
    margin: 0;
    padding: 0;
}