@media all and (max-width: 799px) {
    .social {
        display: none;
    }

    .social-mobile {
        display: block;
    }

    .navigation-link {
        margin: 0 5px;
    }

    .footer {
        justify-content: space-between;
        padding: 0 30px;
    }

    .social-icon:last-child {
        margin-right: 0;
    }

    .social-icon {
        margin-left: 6px;
    }

    .row-trade {
        width: 100%;
    }
}

@media all and (max-width: 595px) {

    p {
        text-align: center;
    }

    .navbar {
        justify-content: center
    }

    .navigation {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        top: 25px;
        right: 0;
        display: block;
    }

    .mobile-menu-btn {
        position: fixed;
        content: url(../assets/icons/elements/iconfinder_Menu1_1031511.svg);
        top: 29px;
        right: 5px;
        margin-right: 30px;
        width: 25px;
        cursor: pointer;
        z-index: 11;
    }

    .mobile-nav-links {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        top: -150px;
        right: -150px;
        width: 240px;
        height: 150px;
        padding-top: 25px;
        box-shadow: -4px 4px 15px -12px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 7px 7px;
        transition: all 0.4s linear;
        background-color: #fff;
        z-index: 9;
    }

    .greed-contacts .row-contacts .item-contacts {
        align-items: center;
    }

    .row-contacts {
        justify-content: center;
        align-items: center;
        padding: 0px 0 30px 0;

    }

    .item-contacts {
        padding: 0 10px;
    }

    @media all and (max-width: 370px) {
        .footer {
            flex-direction: column-reverse;
        }

        .social-icon {
            padding-top: 7px;
        }

        .company {
            padding-bottom: 7px;
        }
    }